<a href="https://colab.research.google.com/github/hcalldee/Penelitian_bidan_halimah/blob/main/Penelitian_Mba_Halimah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/hcalldee/Penelitian_bidan_halimah/main/dataset_mbahalimah.csv'
dataset = pd.read_csv(url,sep=',')
df = dataset.iloc[:,1:9]

In [ ]:
df.head

In [65]:
# frekuensi = pd.dataFrame()
frek = []
df.columns
n=0

print("DESKRIPSI STATISTIK \n")
print(df.describe())

print("\nFREKUENSI\n")
for i in df.columns:
  if(i != "INISIAL "):
    frek.append(df[i].value_counts())

for dat in frek:
  print(pd.DataFrame(dat).T)
  print('\n')

DESKRIPSI STATISTIK

            UMUR         UK    PARITAS  nilai pretest  nilai Postest
count  36.000000  36.000000  36.000000      36.000000      36.000000
mean   28.250000  27.388889   1.805556      22.916667      18.500000
std     4.245165   5.426274   0.888641       4.959119       2.971291
min    22.000000  18.000000   1.000000      13.000000      13.000000
25%    25.750000  23.000000   1.000000      20.500000      17.000000
50%    27.500000  27.500000   2.000000      23.000000      18.000000
75%    31.000000  30.500000   2.000000      25.250000      20.250000
max    42.000000  38.000000   4.000000      34.000000      26.000000

FREKUENSI

      26  27  31  23  28  30  25  32  22  33  24  34  29  42  35
UMUR   5   4   4   3   3   3   2   2   2   2   2   1   1   1   1


    29  20  28  34  24  23  32  26  21  38  30  22  27  25  36  35  18
UK   4   3   3   3   3   2   2   2   2   2   2   2   2   1   1   1   1


          1   2  3  4
PARITAS  16  13  5  2


            S1  SMA  D3  SMK  SMP  PESANTREN  DIPLOMA
PENDIDIKAN  19    8   3    2    2          1        1


           IRT  GURU  SWASTA  WIRASWASTA  PERAWAT  PNS  KARY SWASTA  \
PEKERJAAN   15     7       4           2        2    2            2

           KARY BUMN  Kary BUMD
PEKERJAAN          1          1


               23  21  24  18  22  26  19  31  25  30  29  28  34  13  32  17  \
nilai pretest   6   5   3   3   3   2   2   2   1   1   1   1   1   1   1   1

               16  14
nilai pretest   1   1


               18  19  14  21  17  20  23  16  15  26  13  22
nilai Postest   7   5   4   4   4   3   3   2   1   1   1   1